@import '../../styles/text.scss';
@import '../../styles/sizes.scss';
@import '../../styles/colours.scss';

//this should be a variable
$border: 1px solid $border-color;

.title {
  text-transform: none;
  font-size: $main-header;
  color: $text-colour-light;
  line-height: 0;
  font-weight: 200;
  letter-spacing: initial;

  margin: 0;
  padding: $mid-margin 0 $mid-margin;
  
  // border-bottom: $border;
}

.list {
  margin: 0 $mid-margin 0 0;
  padding: 0;
  padding-bottom: $mini-margin;
  list-style: none;
}
