@import '../../styles/colours.scss';
@import '../../styles/sizes.scss';
@import '../../styles/text.scss';

$border: 1px solid $border-color;

.contents {
  // cursor: pointer;
  // border-bottom: $border;
}

.container{
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: $device-large) {
  .container{
    flex-direction:column-reverse;
  }
}

.more {
  display: none;
}

.info {
  margin: 0;
  padding: 0 $large-margin 0 0;
  border-bottom: $border;
}

@media screen and (min-width: $device-large) {
  .info {
    padding-bottom: $mini-margin;
  }
}

.infoTextMore {
  
}

.code {
  margin: 1.5rem 0 1rem;
}

@media screen and (min-width: $device-large) {
  .code {
    margin: 0;
  }
}

.infoTextLess {
  height: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

// only in higher screen 
// should put in there?
.moreInfo {
  
  // color: $text-colour-dark;
  font-size: $main-header; 
  font-weight: 200;
  font-weight: 400;
  margin: 0 0;
  padding: 0;
}

.lessInfo {
  
  // color: $text-colour-dark;
  font-size: $main-header; 
  font-weight: 200;
  font-weight: 400;
  margin: 0 0;
  padding: 0;
}

@media screen and (min-width: $device-large) {
  .moreInfo:before { 
    content:"\203A";
  }

  .lessInfo:before { 
    content:"\2039";
  }

  .more {
    padding: $mini-margin 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding-right: $large-margin;
  
    h3 {
      color: $text-colour-dark;
      margin: $mini-margin 0;
      font-size: $large-text;
      font-weight: 400;
      letter-spacing: 1.07px;
      line-height: 0px;
      text-transform: none;
    }
    
  }
}