@import '../../styles/colours.scss';
@import '../../styles/sizes.scss';
@import '../../styles/text.scss';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: $white-background;
  padding: $main-margin;
  position: relative;
  
}

.imageContainer {
  position: relative;
}

.title {
  color: $text-colour-light;
  text-align: left;
}

.image {
  
}

.price {
  font-weight: bold;
}
