@import '../../../styles/sizes.scss';
@import '../../../styles/text.scss';
@import '../../../styles/colours.scss';
//this should be a variable
$border: 1px solid $border-color;

.listItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // align-items: center;

  padding: $mini-margin 0;
  border-top: $border;

  p {
    margin: 0;
    color: $text-colour-light;
  }
}