@import '../../styles/sizes.scss';
@import '../../styles/colours.scss';

.productCarousel {
  display: inherit;
  text-align: center;
  padding: $mini-margin 0;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
}

.dotActive {
  height: 0.75rem;
  width: 0.75rem;
  background-color: $dark-background;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dotInactive {
  height: 0.75rem;
  width: 0.75rem;
  background-color: $light-background;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}