@import '../../styles/colours.scss';
@import '../../styles/sizes.scss';

$border: 1px solid $border-color;
$margin: $large-margin;
$pad: $mini-margin $margin 0;

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.gridItem1{
  padding: $pad;
}
.gridItem2{
  padding: $pad;
  padding-left: $margin;
}
.gridItem3{
  margin-left: $margin;
}
.gridItem4{
  padding-left: $margin;
}
 
@media screen and (min-width: $device-large) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .gridItem1{
    grid-column: 1 / 3;
    border-top: $border;
    border-right: $border;
    // margin-left: $margin;
    // padding: $pad;
  }
  .gridItem2{
    border-top: $border;
    grid-column: 3;
    
    // padding: $pad;
    // padding-left: $margin;
  }
  .gridItem3{
    grid-column: 1 / 3;
    border-right: $border;
    border-bottom: $border;
    // padding: $pad;
    // margin-left: $margin;
  }
  .gridItem4{
    grid-column: 1 / 3;
    border-right: $border;
    border-right: $border;
    // padding-left: $margin;
  }



}