@import '../../styles/text.scss';
@import '../../styles/colours.scss';
@import '../../styles/sizes.scss';

.header {
  display: flex;
  align-items: baseline;
  justify-content:space-between;
  background-color: $header-backgound;
  padding: 0 $large-margin;
  //shouldn't do this
  div {
    width: 100%;
  }
}

.link {
  text-decoration: none;
}

.title {
  text-align: center;
  text-transform: capitalize;
  color: $text-colour-light;
  font-weight: 300;
  text-transform: capitalize;
  text-align: center;
  margin: auto auto;
  vertical-align: middle;
  letter-spacing: 0.56px;
  padding: $tiny-margin 0 $tiny-margin 0;
}

.back:before { 
  content:"\2039";
}

.back {
  font-size: $main-header; 
  font-weight: 200;
  cursor: pointer;
}