// .title {
//   color: #999;
//   font-weight: 300;
//   text-transform: capitalize;
//   text-align: center;
//   margin: auto auto;
//   vertical-align: middle;
//   letter-spacing: 0.56px;
//   padding: 0.5rem 0 0.5rem 0;
// }

