@import '../../styles/colours.scss';
@import '../../styles/sizes.scss';

.content {
  display: grid;
  // is border a better way to go?
  gap: 1px;
  background-color: $light-background;
  //// 
  color: black;
  padding: 1px;
  font-weight: 200;
  letter-spacing: normal;
  line-height: 20px;
  font-family: GillSansforJL, Gill Sans, Gill Sans MT, Arial, Helvetica, sans-serif;
}
//try to limit to page level?? At least higher == better?
@media screen and (min-width: $device-med) {
  .content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.link {
  color: inherit;
  text-decoration: none;
  display: block;
  background: $white-background;
}