$deep-grey: #999;
$mid-grey: #f9f9f9;
$light-grey: #ddd;
$white: #fff;



$border-color: $light-grey;

$light-background: $light-grey;
$dark-background: $deep-grey;
$white-background: $white;
$header-backgound: $mid-grey;


