$currency: 1.5rem; 
$currency-large: 2rem; 

$main-header: 3rem; 
$sub-header: 1.5rem; 


$std-text: 1rem; 
$large-text: 2rem; 



$text-colour-dark: #333;
$text-colour-light: #999;

$sale-colour: red;
$buy-me-green: green;